body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.main-wrapper {
  @include flex-direction(column);
  min-height: 100vh;
  overflow-x: hidden;

  .main-container {
    flex: 1;
    padding: 0;

    @include e('pages') {
      @include flex-group-justify(flex-start, center);
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }

  footer {
    flex: 0;
  }
}

section {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
}

.container-custom {
  padding-left: 100px;
  padding-right: 100px;

  @include res_for(sp) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#comming-soon-container {
  width: 100%;
  height: 500px;
  position: relative;

  h1 {
    color: $dark-cyan;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  }
}


.dashboard {
  min-height: 100vh;
  overflow-x: hidden;
  background: $strong-white;
}

.display {
  @include m('mobile') {
    display: none;

    @include res_for(sp) {
      display: block;
    }
  }

  @include m('desktop') {
    display: block;

    @include res_for(sp) {
      display: none;
    }
  }
}

.border-bottom-none {
  border-bottom: none !important;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alert-custom {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 46px;
  padding: 12px 20px 12px 21px;
  border-radius: 10px;
  background-color: $deep-pink;
  z-index: 3;

  @include e('content') {
    @include flex-align(center);
    color: $white;
    white-space: nowrap;

    a {
      color: $white;
    }
  }
}

.btn {
  &.custom-color {
    color: $dark-cyan;
    border-color: $dark-cyan;
    &:hover {
      color: $white;
      background: $dark-cyan;
    }
  }
}
