$white: #FFFFFF;
$strong-white: #FBFBFB;
$black: #000000;
$light-black: #5D5D5D;
$thin-black: #2c2c2c;
$light-dark: #202125;
$gray: #fafafa;
$deep-gray: #bcbcbd;
$light-gray: #eaebef;
$dark-gray: #e4e4e4;
$grey: #f0eff2;
$light-grey: #eeeeee;
$thin-grey: #f8f8f8;
$deep-grey: #626366;
$dark-grey: #4d4d51;
$red: #EC405D;
$red-hex-1: rgba(236, 64, 93, 0.1);
$dark: #242424;

$blue: #1d99fb;
$blue-hex-1: rgba(29, 153, 251, 0.1);
$light-blue: #E2F2FF;
$deep-blue: #46a2ef;
$dark-blue: #02528e;
$light-blue: #e0f0fc;
$dark-cyan: #08979d;
$dark-cyan-hex-1: rgba(8, 151, 157, 0.1);
$dark-cyan-hex-5: rgba(238, 238, 238, 0.5);
$pink: #c1638e;
$light-pink: #FDEBEE;
$deep-pink: #ED5377;
$orange: #FF9446;
$orange-hex-1: rgba(255, 148, 70, 0.1);
$green: #22B78D;
$green-hex-1: rgba(34, 183, 141, 0.1);
$cyan: #28acb2;
$rose: #b74796;
$deep-rose: #a83586;
