$grey: #dadcde;
$dark-grey: #999;

//simple_form input for rich_text_area hight
.trix-editor.form-control {
  height: auto;
}
// Your scss here....
.w-250 {
  width: 300px !important;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

/*
  Select2
*/

select.form-control {
  padding-left: 8px;
}

.select2-container.select2-container--default {
  display: block;

  .select2-selection--single {
    height: 36px;
    border: 1px solid $grey;
    border-radius: 4px;
    padding: 8px 0;

    &:focus {
      outline: none;
    }

    .select2-selection__rendered {
      font-size: 1rem;
      line-height: calc(1.5 * 1rem - 4px);
      padding-left: 12px;
    }

    .select2-selection__arrow {
      height: 36px;
    }
  }

  .select2-selection--multiple {
    min-height: 42px;
    border-radius: 0;
    padding-bottom: 8px;
    padding-right: 12px;

    &:focus {
      outline: none;
    }

    .select2-selection__choice {
      border-radius: 17px;
      border: none;
      padding: 5px 35px 5px 10px;
      margin-top: 8px;
      margin-left: 12px;

      .select2-selection__choice__display {
        font-size: 1rem;
        line-height: 1.5;
      }

      .select2-selection__choice__remove {
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
        border: none;
        top: 7px;
        left: unset;
        right: 10px;

        span {
          display: none;
        }
      }
    }
  }

  .select2-search--inline {
    .select2-search__field {
      color: $dark-grey;
      font-size: 1rem;
      line-height: 1.0;
      margin-top: 12px;
      margin-left: 12px;
    }
  }

  .select2-dropdown {
    border-radius: 4px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .select2-search--dropdown {
    padding-top: 8px;
    padding-bottom: 8px;

    .select2-search__field {
      font-size: 14px;
      line-height: 1.5;
      border: none;
    }
  }
}

.form-checkbox-custom {
  .form-check {
    display: flow-root;
  }
}

/*
  Filter form
*/
.filter-helpers-header {
  font-size: 1.25rem;

  &:hover {
    text-decoration: none;
  }
}
