// typographym variables
$font-size-8: 0.5rem;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-30: 1.875rem;
$font-size-34: 2.125rem;
$font-size-40: 2.5rem;
$font-size-44: 2.75rem;
$font-size-48: 3rem;
$font-size-50: 3.125rem;
$font-size-54: 3.375rem;
$font-size-56: 3.5rem;
$font-size-67: 4.1875rem;
$font-size-90: 5.625rem;
// font-weight
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;
// class typography

.font-size-8 {
  font-size: $font-size-8 !important;
}

.font-size-10 {
  font-size: $font-size-10 !important;
}

.font-size-12 {
  font-size: $font-size-12 !important;
}

.font-size-13 {
  font-size: $font-size-13 !important;
}

.font-size-14 {
  font-size: $font-size-14 !important;
}

.font-size-16 {
  font-size: $font-size-16 !important;
}

.font-size-18 {
  font-size: $font-size-18 !important;
}

.font-size-20 {
  font-size: $font-size-20 !important;
}

.font-size-24 {
  font-size: $font-size-24 !important;
}

.font-size-26 {
  font-size: $font-size-26 !important;
}

.font-size-30 {
  font-size: $font-size-30 !important;
}

.font-size-34 {
  font-size: $font-size-34 !important;
}

.font-size-40 {
  font-size: $font-size-40 !important;
}

.font-size-44 {
  font-size: $font-size-44 !important;
}

.font-size-48 {
  font-size: $font-size-48 !important;
}

.font-size-50 {
  font-size: $font-size-50 !important;
}

.font-size-54 {
  font-size: $font-size-54 !important;
}

.font-size-56 {
  font-size: $font-size-56 !important;
}

.font-size-67 {
  font-size: $font-size-67 !important;
}

.font-size-90 {
  font-size: $font-size-90 !important;
}

.font-weight-600 {
  font-weight: $font-weight-600 !important;
}

.font-weight-400 {
  font-weight: $font-weight-400 !important;
}
